.service-card {
    border: 1px solid #ddd;
padding: 50px;
margin: 20px 0;
border-radius: 5px;
}  
.service-card {
    font: size 55px;
    font-family: 'Elephant', sans-serif;
}
whatsapp-float {
    @keyframe
    animation-name: calc(slide);
    animation-timing-function: 2ms;
    animation-play-state: running;
}
img{
    object-fit: cover;
    image-rendering: auto;
    background-image: image("cab,jpg");
}
/* Mobile styles (default) */
.container {
    width: 100%;
    padding: 10px;
  }
  
  /* Tablet styles */
  @media (min-width: 600px) {
    .container {
      width: 90%;
      padding: 15px;
    }
  }
  
  /* Desktop styles */
  @media (min-width: 1024px) {
    .container {
      width: 80%;
      max-width: 1200px;
      padding: 20px;
    }
  }
